body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
#loadingTimeSlow, #loadingTime {
  font-size: 2em;
  text-align: center;
  padding: 1%;
  color: #fff;
  display: none;
}
#loadingTimeSlow b, #loadingTime b {
  display: block;
  font-size: 3em;
}
#loadingTimeSlow {
  background: #ff6262;
}
#loadingTime {
  background: #9ad494;
}
.frameContainer {
  display: inline-block;
  margin: 1%;
}
.frameContainer h1 {
  text-align: center;
}
iframe {
  border-left: 30px solid #000;
  border-right: 30px solid #000;
  border-top: 100px solid #000;
  border-bottom: 125px solid #000;
  border-radius: 75px;
}
footer {
  padding: 2% 0 1% 0;
  display: block;
  text-align: center;
}
footer img {
  display: block;
  margin: auto;
  max-width: 75px;
  padding: 1%;
}
